@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pacifico&family=Signika:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body,html{
    font-family: "Sour Gummy", serif;
    overflow-y: hidden;
}
#time-based-style {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.time{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center
}

#time-based-style img{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
} 

#say-hi{
    font-size: 3rem;
}
#time-display {
    font-size: 10rem;
    
}

.aurore {
    filter: sepia(0.5) brightness(1.5) contrast(1.3) hue-rotate(-20deg);
    background: linear-gradient(45deg, rgba(255, 204, 153, 1), rgba(255, 160, 122, 1), rgba(255, 223, 186, 1)); /* Ciel rosé avec touche d'orange pour l'aurore */
    transition: background 1s ease-in-out;
}

.matin {
   filter: sepia(0.2) brightness(1.2) contrast(1.1);
   background: linear-gradient(45deg, rgba(135, 206, 250, 1), rgba(173, 216, 230, 1), rgba(240, 248, 255, 1)); /* Ciel bleu clair, matin lumineux */
    transition: background 1s ease-in-out;
}

.apres-midi {   
    filter: sepia(0) brightness(1.5) contrast(1.3);
    background: linear-gradient(45deg, rgba(70, 130, 180, 1), rgba(100, 149, 237, 1), rgba(135, 206, 250, 1)); /* Ciel bleu plus profond pour l'après-midi */
    transition: background 1s ease-in-out;
    
}

.soiree {
    filter: sepia(0.5) brightness(0.9) contrast(1.2);
    background: linear-gradient(45deg, rgba(255, 140, 105, 1), rgba(255, 99, 71, 1), rgba(255, 160, 122, 1)); /* Ciel couchant avec tons orangés pour la soirée */
    transition: background 1s ease-in-out;
}

.nuit {
    filter: grayscale(1) brightness(0.5);
    background: linear-gradient(45deg, rgba(0, 0, 128, 1), rgba(25, 25, 112, 1), rgba(0, 0, 139, 1)); /* Ciel nocturne bleu foncé */
    transition: background 1s ease-in-out;
}

.soleil {
    background: yellow;
    top: 50%;
    left: -100px;
    animation: mouvementSoleil 12s linear infinite;
}



